.side-panel {
    width: 299px;
}

.panel-header {
    height: 50px;
    background-color: #43a03c;
    text-align: center;
    color: #fff;
}

.panel-header h4 {
    padding-top: 10px;
    margin-left: 10px;
}

.panel-body {
    height: fit-content;
    background-color: #606060;
}

.panel-footer {
    height: 40px;
    background-color: #43a03c;
}

.rows {
    border: 2px solid #1fda1f;
    margin-top: 4px;
}

.wrap {
    display: block;
    justify-content: center;
    align-items: center;
}

.rows h6 {
    margin: 0;
}

.rows .btn {
    border-radius: 0;
    font-size: 10px;
}

.rows .custom-select-sm {
    border-radius: 0;
    border-top-color: #bebebe;
    border-left-color: #bebebe;
    border-bottom-color: #606060;
    border-right-color: #606060;
    border-width: 2px;
    font-size: 10px;
    height: 20px;
    padding-top: 1px;
}

.rows .table-sm {
    font-size: 10px;
    width: fit-content;
}

.btnRow .btn-light,
.btnCustom .btn-light {
    width: 100%;
    border-top-color: #fff;
    border-left-color: #fff;
    border-top-width: 2px;
    border-left-width: 2px;
    text-align: left;
    height: 20px;
    padding-top: 1px;
}

.btnCustom .btn-light-flat {
    width: 100%;
    border: 1px dashed #000;
    text-align: left;
    height: 20px;
    padding-top: 1px;
}

.btnRow .btn-light:hover {
    border-bottom-color: #000;
    border-right-color: #000;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-left-width: 1px;
}

.btnRow .btn-light:focus {
    color: #fff;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-color: #000;
    border-left-color: #000;
}

.btnRow .dropdown-item {
    font-size: 12px;
    border-radius: 0.25rem;
    width: 202px;
}

.btnRow ul {
    padding: 0;
    margin: 0;
    width: fit-content;
    border-radius: 0.25rem;
}

.dropdown-submenu {
    position: relative;
    border-radius: 0.25rem;
}

/* drop ke kanan*/

.dropdown-submenu-right > .dropdown-menu {
    top: 153px;
    left: 99%;
    margin-top: -6px;
    margin-left: 1px;
    border-radius: 0.25rem;
}

.dropdown-submenu-right:hover > .dropdown-menu {
    display: block;
}

/*  panah ke kanan*/

.dropdown-submenu-right > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #808080;
    margin-top: 5px;
    margin-right: -10px;
}

/* drop ke kiri*/

.dropdown-submenu > .dropdown-menu {
    top: 5px;
    left: -101%;
    margin-top: -6px;
    margin-left: 1px;
    border-radius: 0.25rem;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: 100%;
    margin-left: 10px;
    border-radius: 0.25rem;
}

/*  panah ke kiri */

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-right-color: #808080;
    margin-top: 5px;
    margin-left: -10px;
}

.rows .toggle.btn {
    min-height: 20px;
}

.rows .form-control {
    height: 20px;
    width: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
    border-radius: 0;
    font-size: 10px;
    border-top-color: #bebebe;
    border-left-color: #bebebe;
    border-bottom-color: #606060;
    border-right-color: #606060;
    border-width: 2px;
}

.rows .form-out {
    height: 20px;
    width: 55px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #fff;
    background: none;
    font-size: 10px;
    text-align: center;
    color: #fff;
}

.rows small {
    display: inline-block;
    width: 46.5px;
    text-align: left;
    font-size: 10px;
}

.rows .wrapTable {
    border-top-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #000;
    border-right-color: #000;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    margin: 5px;
    background-color: #333333;
}

.rows .wrapTable-flat {
    border: 1px solid #1fda1f;
    margin: 5px;
}

.rows .wrapTable .col-4,
.rows .wrapTable-flat .col-4,
.rows .wrapTable-flat .col-12 {
    padding-left: 10px;
}

.wrapTable thead th,
.wrapTable td,
.wrapTable th {
    border: none;
    padding: 0.25rem;
}

.rows .wrapCol {
    height: 90px;
    overflow-y: auto;
    padding-bottom: 5px;
    background-color: #808080;
}

.rows .wrapCol-flat {
    height: auto;
    overflow-y: auto;
    padding-bottom: 5px;
}

.rows .wrapCol-flat span {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: red;
    border: 1px solid #000;
    margin-top: 2px;
    left: 10px;
}

.rows .wrapCol-flat span::after {
    background-color: lime;
}

.rows .col,
.rows .col-1,
.rows .col-2,
.rows .col-3,
.rows .col-4,
.rows .col-5,
.rows .col-6,
.rows .col-7,
.rows .col-8,
.rows .col-9,
.rows .col-10,
.rows .col-11,
.rows .col-12,
.col-sm-auto,
.rows .col-sm,
.rows .col-sm-1,
.rows .col-sm-2,
.rows .col-sm-3,
.rows .col-sm-4 {
    border: none;
    padding: 2px;
    font-size: 10px;
}

.rows .col-6 {
    padding-left: 5px;
}

.underline {
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    margin-top: -5px;
}

.btnCustom {
    padding-left: 20px;
    margin-right: 10px;
}

.btnCustom .btn.active {
    display: none;
}

.btnCustom input[type="radio"],
.btnCustom input[type="checkbox"] {
    display: none;
}

.btnCustom .down {
    color: #fff;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-color: #000;
    border-left-color: #000;
    /* box-shadow: 0 0 0 1px rgba(216, 217, 219, 0.5); */
}

.btnCustom span {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: green;
    border: 1px solid #000;
    top: 5px;
    left: 0px;
}

.btnCustom .down span {
    background-color: lime;
}

.btnSquare {
    margin: 5px;
}

.btnSquare .btn.active {
    display: none;
}

.btnSquare input[type="radio"] {
    display: none;
}

.btnSquare .form-check-label {
    margin-left: 20px;
    width: max-content;
    color: #fff;
    font-weight: bold;
}

.btn-lime {
    padding: 0;
    margin: 0;
    margin-left: -10px;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    background-color: lime;
}

.btn-green {
    padding: 0;
    margin: 0;
    margin-left: -10px;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    background-color: green;
}

.ddChecked .form-check {
    padding: 0;
}

.customDD .dropdown-toggle {
    margin-top: 0px;
}

.customDD .dropdown-toggle::after {
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

/* .customDD {
    padding: 0;
} */

.customDD .dropdown-toggle-split {
    margin-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
}

.customDD .btn-light {
    padding-right: 5.12px;
    padding-left: 4px;
}

.customDD .fixBtn {
    width: 36.9px;
}

.customDD .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

#colm1 {
    width: 60px;
    height: 60px;
    background-color: orange;
}

#colm2 {
    width: 120px;
    height: 120px;
    background-color: lightblue;
}

#colm3 {
    width: 160px;
    height: 160px;
    background-color: yellow;
}

.cusModal .modal {
    width: fit-content;
    min-height: 10%;
    left: 40%;
    overflow: visible;
}

.cusModal .modal-content {
    background-color: #808080;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 0;
    width: fit-content;
    min-width: 300px;
    margin: auto;
}

.cusModal .modal-header {
    padding: 0;
    margin: 0;
}

.cusModal .modal-body {
    margin-top: -5px;
    padding: 5px;
}

.cusModal .btnCustom {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.cusModal .btn-flat {
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #606060;
    cursor: pointer;
}

.cusModal .btn-flat-down {
    font-size: 12px;
    color: #000;
    padding: 5px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #bebebe;
    cursor: pointer;
}

.cusModal .btn-flat:active {
    background-color: #bebebe;
    color: #fff;
    cursor: grabbing;
}

.cusModal .custom-select-sm {
    /* margin: 5px; */
    height: 30px;
    font-size: 10px;
    height: 20px;
    text-align-last: center;
}

#formContent .rows {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

#formContent .rows .col-1 {
    margin: 7px;
}

#bFreq-group .row {
    padding-left: 15px;
}

.cusModal .table {
    border-collapse: separate;
    border-spacing: 3px;
    color: white;
    margin: 1rem;
    width: -webkit-fill-available;
}

.cusModal .table td {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: #606060;
    width: 16%;
}

.cusModal .table th {
    border: none;
    width: 16%;
}

.cusModal .table .btnTb {
    border: none;
    background-color: #808080;
}

#modal-cinematic-filter .rows .col-1 {
    margin: 0;
    margin-top: -2;
}

#modal-cinematic-filter .rows .col-5 {
    margin: 0;
    margin-top: 3;
}

#modal-cinematic-filter .rows .col-sm-auto {
    margin-top: 5;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    border: 1px solid #ccc;
    white-space: nowrap;
    background: darkgray;
    color: #333;
    font-size: 14px;
    padding: 0;
    border-radius: 0.25rem;
}

/* Each of the items in the list */

.custom-menu ul {
    padding: 0;
    margin: 0;
    width: fit-content;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all 0.3s ease;
    user-select: none;
}

.custom-menu li a {
    color: #333;
    text-decoration: none;
}

.custom-menu li:hover {
    background-color: #def;
}

.custom-menu .dropdown-item {
    padding-left: 12px;
}

.custom-menu.dropdown-item a:hover,
.custom-menu li a:hover,
.custom-menu li a:focus {
    background-color: #def;
    color: #333;
}

#panel-TCCR {
    background-color: #47484c;
    /* background-image: url(../TCCRicon/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; */
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.dot-lg {
    height: 48px;
    width: 48px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    border: 1px dashed #fff;
}

.square {
    height: 150.2px;
    width: 31.1875px;
    background-color: #000;
    display: inline-block;
    border: 1px dashed #fff;
}

.btn-panel {
    color: #aeaead;
    font-family: "arial narrow bold" !important;
    font-weight: bold !important;
    font-size: 10.71px !important;
    background-image: url(../TCCRicon/kosong.bmp);
    border-color: #7c7c7c;
    border-radius: 0px !important;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-panel .down {
    color: #eefd00;
    background-image: url(../TCCRicon/kosongOn.bmp);
    border-color: #eefd00;
    box-shadow: 0 2.8px 2.2px #eefd0028, 0 6.7px 5.3px #eefd000c,
        0 12.5px 10px #eefd000f, 0 22.3px 17.9px #eefd0012,
        0 41.8px 33.4px #eefd0016, 0 100px 80px #eefd001f;
}

.btn-panel:hover {
    color: #eefd00;
    border-color: #eefd00;
}

.btn-panel.focus,
.btn-panel:focus {
    color: #eefd00;
    border-color: #eefd00;
    box-shadow: 0 2.8px 2.2px #eefd0028, 0 6.7px 5.3px #eefd000c,
        0 12.5px 10px #eefd000f, 0 22.3px 17.9px #eefd0012,
        0 41.8px 33.4px #eefd0016, 0 100px 80px #eefd001f;
}

.btn-panel.disabled,
.btn-panel:disabled {
    color: #aeaead;
    border-color: #aeaead;
}

.btn-panel:not(:disabled):not(.disabled).active,
.btn-panel:not(:disabled):not(.disabled):active,
.show > .btn-panel.dropdown-toggle {
    color: #eefd00;
    background-image: url(../TCCRicon/kosongOn.bmp);
    border-color: #eefd00;
    box-shadow: 0 2.8px 2.2px #eefd0028, 0 6.7px 5.3px #eefd000c,
        0 12.5px 10px #eefd000f, 0 22.3px 17.9px #eefd0012,
        0 41.8px 33.4px #eefd0016, 0 100px 80px #eefd001f;
}

.btn-panel:not(:disabled):not(.disabled).active:focus,
.btn-panel:not(:disabled):not(.disabled):active:focus,
.show > .btn-panel.dropdown-toggle:focus {
    box-shadow: 0 2.8px 2.2px #eefd0080, 0 6.7px 5.3px #eefd000c,
        0 12.5px 10px #eefd000f, 0 22.3px 17.9px #eefd0012,
        0 41.8px 33.4px #eefd0016, 0 100px 80px #eefd001f;
}

.btn-panel-none:not(:disabled):not(.disabled).active,
.btn-panel-none:not(:disabled):not(.disabled):active,
.show > .btn-panel.dropdown-toggle {
    color: #aeaead;
    border-color: #7c7c7c;
    background-image: url(../TCCRicon/kosong.bmp);
    box-shadow: none;
}

.btn-panel.focus,
.btn-panel:focus {
    box-shadow: none;
}

.btn-panel input[type="radio"],
.btn-panel input[type="checkbox"] {
    display: none;
}

.btn-panel .btn.active {
    display: none;
}

.custom-offset-1 {
    margin-left: 32.6%;
}

.v-line-graph {
    width: 10px;
    height: 144px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.v-line-graph-top {
    width: 2px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-top-left-radius: 1rem;
}

.v-line-graph-bottom {
    width: 2px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-bottom-left-radius: 1rem;
}

.plessey-frame {
    background-image: url(../img/bg_pat.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
    height: 100%;
}

.plessey-frame span.active {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000;
    background-color: #e6812a;
}

.radar-ring {
    background-image: url(../img/radar_rng.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 998px;
    height: 998px;
}

.metal {
    position: relative;
    outline: none;
    font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
    color: hsla(0, 0%, 20%, 1);
    text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0,
        hsla(0, 0%, 100%, 0.6) 0 2px 1px;
    background-color: hsl(0, 0%, 90%);
    box-shadow: inset rgb(49, 49, 49) 0 0px 0px 4px,
        /* border */ inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
        /* soft SD */ /*inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px,  bottom SD */
            /*inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px,  top HL */
            hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px,
        /* outer SD */ hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
    /* outer HL */
    transition: color 0.2s;
}

.metal.linear {
    width: 100px;
    font-size: 4em;
    height: 80px;
    border-radius: 0.5em;
    background-image: -webkit-repeating-linear-gradient(
            left,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 6%,
            hsla(0, 0%, 100%, 0.1) 7.5%
        ),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(
                        0,
                        0%,
                        0%,
                        0
                    )
                    4%, hsla(0, 0%, 0%, 0.03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(
                        0,
                        0%,
                        100%,
                        0
                    )
                    1.2%, hsla(0, 0%, 100%, 0.15) 2.2%),
        linear-gradient(
            180deg,
            hsl(0, 0%, 78%) 0%,
            hsl(0, 0%, 90%) 47%,
            hsl(0, 0%, 78%) 53%,
            hsl(0, 0%, 70%) 100%
        );
}

.brushed-metal {
    background-image: linear-gradient(
            135deg,
            rgba(62, 68, 74, 0.5),
            rgba(192, 192, 192, 0.4),
            rgba(91, 96, 105, 0.5)
        ),
        repeating-linear-gradient(
            135deg,
            rgba(1, 5, 8, 0.26),
            rgba(189, 189, 189, 0.4) 2.5px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(2, 23, 38, 0.32),
            rgba(192, 192, 192, 0.4) 2.7px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(58, 65, 71, 0.6),
            rgba(224, 226, 227, 0.3) 3px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(91, 95, 98, 0.5),
            rgba(55, 170, 233, 0.26) 4.5px
        );
    box-shadow: inset rgb(49, 49, 49) 0 0px 0px 4px,
        /* border */ inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
        /* soft SD */ /*inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px,  bottom SD */
            /*inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px, top HL */
            hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px,
        /* outer SD */ hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
}

.carbon-fibre {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #444444;
    background-size: 16px 16px;
}

.box-shadow {
    border: 3px solid #c5c5c5;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.inner-shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.btn-plessey {
    color: #000000;
    font-weight: bold !important;
    font-size: 12px !important;
    background-image: url(../img/btn_plessey.BMP);
    border-color: #000000;
    border-radius: 0px !important;
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-plessey:hover {
    color: #fff;
    border-color: #fd7a00;
}

.btn-plessey.focus,
.btn-plessey:focus {
    color: #fff;
    border-color: #fd7a00;
    box-shadow: 0 2.8px 2.2px #fdad0028, 0 6.7px 5.3px #fdad000c,
        0 12.5px 10px #fdad000f, 0 22.3px 17.9px #fdad0012,
        0 41.8px 33.4px #fdad0016, 0 100px 80px #fdad001f;
}

.btn-box {
    color: #e6812a;
    border-left: 1px solid #e6812a;
    border-bottom: 1px solid #e6812a;
    border-radius: 0px !important;
    width: 91.17px;
    height: 91.17px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.btn-box-sm {
    width: 82.87px;
    height: 73.4px;
    color: #e6812a;
    border-left: 1px solid #e6812a;
    border-bottom: 1px solid #e6812a;
    border-radius: 0px !important;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.btn-box-sm:hover {
    color: #fff;
}

.btn-box-sm:active {
    background-color: #e6812a;
    color: #000;
}

.btn-box-sm-half {
    width: 41.435px;
    height: 73.4px;
    border-left: 1px solid #e6812a;
    border-bottom: 1px solid #e6812a;
    border-radius: 0px !important;
    padding: 0px;
    list-style: none;
}

.btn-box:hover {
    color: #000;
    background-color: #e6812a;
    transition: 0.4s;
}

.custom-box {
    width: 91.17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plessey-frame ul > li {
    margin: -1px;
}